
.section-btn {
    display: flex;
    flex-flow: column wrap;
}

.btn-primary {
    color: white;
    border-radius: 3px;
    background-color: #083D77;
    padding: 0.5em;
    width: 100px;
    border: none;
    cursor: pointer;

}

.btn-primary:hover {
    background-color: #095AB2;
    transition: 0.4S;
}

.btn-danger {
    margin-top: 1em;
    color: white;
    border-radius: 3px;
    background-color: #F10808;
    padding: 0.5em;
    width: 100px;
    border: none;
    cursor: pointer;
}

.btn-danger:hover {
    transition: 0.4S;
    background-color: #D60000;
}

.btn-cancel {
    margin: 1em;
    width: 70px;
    padding: 0.5em;
    height: 70px;
    border: none;
    border-radius: 3px;
    background-color: #E6ECF1;
}

.btn-cancel:hover {
    background-color: #BEDAF1;
    transition: 0.4S;
}

.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: none;
    margin-top: 1em;
    padding: 1em;
    border-radius: 3px;
    font-size: 12px;
    background-color: #E6ECF1;

}

.btn-add:hover {
    background-color: #BEDAF1;
    transition: 0.4S;
}

.btn-delete {
    border: none;
    padding: 0.3em;
    color: white;
    border-radius: 6px;
    background-color: #F10808;
    width: 100px;
    margin-top: 1em;
}

.btn-delete:hover {
    transition: 0.4S;
    background-color: #D60000;
}

.btn-client {
    border-radius: 3px;
    border: none;
    width: 200px;
    padding: 1em;
    margin-top: 1em;
    background-color: #A4C1E0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-client:hover {
    background-color: #5DA2ED;
    transition: 0.4S;
}